.view-container{
  display:flex;
  justify-content: center;
}
.marvel-container {
  display: flex;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}
.back-to-last-page {
  margin-left: 10%;
  font-size: 1rem;
}

 //shared comic and characters index
.pages {
  display: flex;
  justify-content: space-between;
}

