.marvel-container {
  display: flex;
  height: 100vh;
}
.marvel-index {
  display: flex;
  margin: auto;
  justify-content: space-around;
  width: 80%;
}

//comics index style
.comics {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}
.comic {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 5px;
  padding-bottom: 50px;
}
.comic-title {
  text-align: center;
}
.comic-img-div {
  display: flex;
  justify-content: center;
}

// characters index style

.characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  align-items: center;
}
.character {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 5px;
  padding-bottom: 40px;
}
.character-img {
  border-radius: 50%;
}
.character-name {
  text-align: center;
}
.character-img-div {
  display: flex;
  justify-content: center;
}

// show page style

.header-show {
  font-size: 3rem;
  text-align: center;
  margin: 20px 0;
}
.show-container {
  height: 100vh;
}
.img-show {
  height: 65vh;
  display: flex;
}
.character-img-show {
  align-self: flex-start;
}
.show-info {
  display: flex;
}
.description-and-btn-header {
  display: flex;
  justify-content:space-between;
  margin: 35px 0;
}
.about-header {
  font-size: 1rem;
}
.info-show-details {
  margin-bottom: 15px;
}