// Import page-specific CSS files here.
body {
  background-color: $marvel-white;
  color: $marvel-black;
  font-family: $body-font;
  font-weight: normal;
}

@import "home";
@import "comics_index";
@import "characters_index";
@import "show_pages";
@import "favorites";
