<footer>
  <div class="footer">
    <div class="footer-links">
        <span>Developer: </span>
        <a href="https://www.instagram.com/ofernandovegano/"><i class="fab fa-instagram"></i></a>
        <a href="https://github.com/ofernandovegano"><i class="fab fa-github"></i></a>
        <a href="https://www.linkedin.com/in/fernandogomesrodrigues/"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This project was made with <i class="fas fa-heart"></i> 
    </div>
  </div>
</footer>