<%if current_user.present? %>

  <div id="root" data-favorite_characters="<%= @favorite_characters.to_json %>" data-favorite_comics="<%= @favorite_comics.to_json %>"> </div>

<%else%>
<div id="background-home">
  <div class="call-to-login">
    <p class="background-home-paragraph">Welcome to the Marvel Universe</p>
    <%= link_to "Login", new_user_session_path, class: "btn btn-success background-home-button" %>
    <%= link_to "Registration", new_user_registration_path, class: "btn btn-primary background-home-button" %>
  </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.1.9/p5.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vanta@latest/dist/vanta.trunk.min.js"></script>
<script>
  VANTA.TRUNK({
    el: "#background-home",
    mouseControls: true,
    touchControls: true,
    gyroControls: false,
    minHeight: 200.00,
    minWidth: 200.00,
    scale: 1.00,
    scaleMobile: 1.00,
    color: 0xEC1D24,
    backgroundColor: 0xFEFEFE,
    spacing: 1.00,
    chaos: 4.50
  })

</script>
<%end%>


