.btn-form {
 background-color: $marvel-red;
}
.btn-search {
  padding: 0.5rem 1rem;
  width: 9rem;
  font-size: 0.8rem;
  background-color:$marvel-gray;
  border-radius: 5px;
  box-shadow: 2px 2px 3px gray;
  border: none;
}
.btn-search:hover {
  background-color: goldenrod;
}
.btn-search-small {
  display: none;
}

@media screen and (max-width: 768px) {
  .btn-search-big {
    display: none;
  }
  .btn-search-small {
    display:inline-block;
    width: 5.5rem;
  }
 }



