.navbar-marvel {
  justify-content: space-between;
  background: $marvel-black;
  margin: 0 auto;
}

.navbar-marvel .navbar-collapse {
  flex-grow: 0;
  width: 100%;
}

.navbar-marvel .navbar-brand img {
  width: 100px;
}
.nav-item {
  color: $marvel-white;
}
.navbar {
  padding: 0.5rem 2.5rem;
}
.nav-center {
  font-size: 1.6rem;
}
.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

 @media screen and (max-width: 1200px) {
  .nav-center {
    font-size: 1.3rem;
  }
 }
 @media screen and (max-width: 992px) {
    .nav-center{
      font-size: 1.1rem;
    }
 }
 @media screen and (max-width: 768px) {
  .navbar-brand {
    display: none;
  }
  .nav-center{
    font-size: 0.90rem;
  }
 }
