.navbar-marvel {
  justify-content: space-between;
  background: $marvel-black;
}

.navbar-marvel .navbar-collapse {
  flex-grow: 0;
}

.navbar-marvel .navbar-brand img {
  width: 100px;
}
.nav-item {
  color: $marvel-white;
  padding: 0 3rem;
}
.nav-center {
  font-size: 1.5rem;
}
